.obsidian/workspace*
.obsidian/plugins/*
private/
*.priv/
*.priv.md
.tmp*.driveupload
.tmp*.drivedownload
conflict-files-obsidian-git.md
.*.icloud
.vale.ini
/styles/Joblint
.trash
/0-Inbox
/1-Projects
/2-Areas
/3-Resources
/4-Archives
/enveloppe
